
<link rel="stylesheet" href="/stylesheets/about.css">

<section class="about-section d-flex m-0" id="about">
    <div class="container my-auto">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2 class="text-center">What is <b>Pexlet?</b></h2>
          <div class="text-wrap m-auto p-2">
            <p class="text-justify">Welcome to Pixlet, where we launch your restaurant sales into the stratosphere with our cutting-edge technology solutions! Our rocket-powered software will take your restaurant to new heights by streamlining operations, improving customer engagement, and boosting revenue</p>
          <p class="text-justify">Say goodbye to outdated, manual processes and hello to the future of Restaurant Management.</p>
          </div>
          
          <div class="text-center mt-2">
            <a href="#services" class="btn">What we offer</a>
          </div>
        </div>
      </div>
    </div>
  </section>