<link rel="stylesheet" href="/stylesheets/case-study.css">

<section class="case-study" id="more">
    <div class="container my-5">
      <h2 class="header">no more <span class="highlight">manual</span> processes</h2>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-2">
              <i class="bi bi-gift"></i> 
            </div> 
            <div class="col-lg-10">
              <h3>Customized Solutions:</h3>
              <p>We understand that every restaurant is unique, and we offer customized tech solutions that are designed to meet the specific requirements of each client. Our solutions are scalable, adaptable, and can be customized to fit the size, type, and operations of your restaurant, ensuring a perfect fit for your business.</p>
            </div> 
          </div>
          <div class="row">
            <div class="col-lg-2">
              <i class="bi bi-mortarboard"></i>
            </div>
            <div class="col-lg-10">
              <h3>Expertise in Restaurant Industry:</h3> 
              <p>Pexlet specializes in providing technology solutions specifically tailored for the restaurant industry. Our team has in-depth knowledge and experience in creating POS systems, restaurant management systems, and other tech solutions that cater to the unique needs of restaurant owners.</p>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-2"> <i class="bi bi-wrench-adjustable-circle"></i></div>
            <div class="col-lg-10"> <h3>Comprehensive Services:</h3> 
              <p>
                Pexlet offers a wide range of services to cover all aspects of restaurant technology needs. From POS system setup and configuration to restaurant management software implementation, web design for restaurants, and more, we provide end-to-end solutions to streamline your operations and drive business growth.</p>
              </div>
            </div>
        </div>



        <div class="col-lg-6">

          <div class="row">
            <div class="col-lg-2"><i class="bi bi-lightbulb"></i></div>
            <div class="col-lg-10"><h3>Innovative and Cutting-Edge Technology: </h3>
              <p>
              We stay at the forefront of technology trends and continuously update our solutions to incorporate the latest advancements. Our innovative and cutting-edge technology solutions are designed to enhance efficiency, improve customer experience, and give your restaurant a competitive edge in the market.</p></div>
          </div>
          
          <div class="row"> 
            <div class="col-lg-2">
              <i class="bi bi-people"></i>
            </div>
            <div class="col-lg-10">
              <h3>Dedicated Support:</h3> 
              <p>
                At Pexlet, we are committed to providing exceptional customer support. Our team of experts is available to provide technical assistance, resolve issues, and offer ongoing support to ensure the smooth functioning of your tech solutions. We strive to build long-term partnerships with our clients based on trust and reliability.</p>
            </div>


          </div>
          <div class="row">
            <div class="col-lg-2">
              <i class="bi bi-cash-coin"></i>
            </div>
            <div class="col-lg-10">
              <h3>Competitive Pricing:</h3> 
              <p>Pexlet offers competitive pricing for our technology solutions, making it accessible and cost-effective for restaurant owners of all sizes. We believe in providing value for money, and our pricing is transparent, without any hidden costs or surprises.</p>
            </div>
             </div>

        </div>
      </div>
    </div>
  </section>

  <!-- <div class="row">
    <div class="col-lg-6">
      <ul>
        <li>
        
        <li>
          
        </span>
        </li>
        <li>
          
          </li>
      </ul>
    </div>
    <div class="col-lg-6">
    <ul>
      <li>
        
        </li>
      <li>
       
        </li>
      <li>
       
    </ul>
  </div>
  </div> -->