<link rel="stylesheet" href="/stylesheets/mission.css">

<section class="mission-section"> 
    <div class="container my-5 d-flext">
      <div class="row my-5 w-100 mx-auto">
        <div class="col-lg-6">
          <div class="video-wrapper d-flex">
            <video autoplay loop muted playsinline>
              <source src="/video/video1.mp4" type="video/mp4">
              <!-- Add other video formats as needed -->
            </video>
            <div class="play-button"></div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mission-statement d-flex flex-column mt-3">
            <h2 class="section-header mx-auto text-center">Our Mission</h2>
            <p class="mission-text mt-3 mx-auto">Pexlet's mission is to empower restaurant owners with user-friendly technology solutions that streamline operations and drive sales growth. We aim to make restaurant management simple, even for non-techy individuals, by providing innovative tools and expert guidance to help businesses thrive in the digital landscape..</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  