
<link rel="stylesheet" href="/stylesheets/services.css">

<section class="services-section" id="services">
    <div class="container mx-auto my-4">
        <h2 class="header">Services</h2>
      <div class="row m-auto w-100"> 
        <div class="col-lg-4 col-md-12">
            <div class="card mx-auto">
                <img src="/images/service1.jpg" alt="Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">POS System</h5>
                    <p class="card-text">Pexlet offers customized POS solutions for restaurant owners.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card mx-auto">
                <img src="/images/service2.jpg" alt="Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Restaurant Management</h5>
                    <p class="card-text">Pexlet's restaurant management system offers comprehensive tools for seamless operations.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card mx-auto">
                <img src="/images/service3.jpg" alt="Image" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Web Design</h5>
                    <p class="card-text">Pexlet creates visually stunning restaurant websites that are tailored for your restaurant.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex"><a href="https://forms.gle/wKCS9RmFJV6E4gtUA" class="btn mt-4 mx-auto" target="_blank">Get Started</a></div>
  </div>
</section>