<link rel="stylesheet" href="/stylesheets/showcase.css">

<section class="banner d-flex" id="home">
    <div class="container">
            <div class="row">
              <div class="col-md-12 col-lg-6 d-flex">
                <div class="text-area my-auto py-5">
                    <h2>Skyrocket Your Restaurant Business Using Tech</h2>
                <p>Discover how our innovative technology solutions can help boost your restaurant business to new heights.</p>
                <a href="#about" class="btn">Learn More</a>
                </div>
              </div>
              <div class="col-md-12 col-lg-6 d-flex">
                <img src="images/rocket.png" alt="Restaurant Business" class="img-fluid m-auto">
              </div>
            </div>
    </div>
</section>


